.barra-login {
  display: flex;
  align-items: center;
  width: 200px;
}
.barra-login > button {
  margin: 5px;
  width: 90px;
  height: 40px;
  border-radius: 10px;
}
.btn-registrar {
  background-color: #f15412;
  color: white;
}
.btn-registrar:hover {
  background-color: #b15412;
}
.btn-registrar:active {
  background-color: #a15412;
}
.btn-login {
  background-color: #541690;
  color: white;
}
.btn-login:hover {
  background-color: #441690;
}
.btn-login:active {
  background-color: #341690;
}
@media screen and (max-width: 728px) {
  .barra-login {
    display: none;
  }
}
