.barra-login {
  display: flex;
  align-items: center;
  width: 200px;
}
.barra-login > button {
  margin: 5px;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btn-registrar {
  background-color: #e77373;
  color: white;
}
.btn-registrar:hover {
  background-color: red;
}
.btn-registrar:active {
  background-color: rgb(226, 68, 68);
}
.btn-login {
  background-color: rgb(255, 103, 79);
  color: white;
}
.btn-login:hover {
  background-color: red;
}
.btn-login:active {
  background-color: rgb(226, 68, 68);
}
@media screen and (max-width: 728px) {
  .barra-login {
    display: none;
  }
}
