.barra-login {
  display: flex;
  align-items: center;
  width: 200px;
}
.barra-login > button {
  margin: 5px;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  border: none;
}
.btn-registrar {
  background-color: #ff4040;
  color: white;
}
.btn-registrar:hover {
  background-color: #ff5050;
}
.btn-registrar:active {
  background-color: #ff6060;
}
.btn-login {
  background-color: #ff2400;
  color: white;
}
.btn-login:hover {
  background-color: #ff3400;
}
.btn-login:active {
  background-color: #ff4400;
}
@media screen and (max-width: 728px) {
  .barra-login {
    display: none;
  }
}
