.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 10px;
  width: 100px;
}
.btn-cart {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}
.btn-cart:hover,
.btn-add-cart:hover,
.btn-checkout:hover {
  background-color: #80b809;
}
.btn-cart:active,
.btn-add-cart:active,
.btn-checkout:active {
  background-color: #70a809;
}

@media screen and (max-width: 728px) {
  .btn-cart:hover,
  .btn-add-cart:hover,
  .btn-checkout:hover {
    background-color: #f0f0f0;
  }
  .btn-cart:active,
  .btn-add-cart:active,
  .btn-checkout:active {
    background-color: #b5e550;
  }
}
