.preco {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
}
.preco-de {
  font-size: 1rem;
  text-decoration: line-through;
  color: red;
}
.preco-por {
  font-size: 1.3rem;
  color: green;
}
