* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  color: white;
}
.root {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 8% 1fr 8%;
}
li,
a {
  text-decoration: none;
  list-style: none;
  color: black;
}
p {
  color: black;
}
img {
  border-radius: 10%;
}

span {
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 200px) {
}
