.abrir-menu {
  display: none;
}
.btn-abrir {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border-left: none;
  outline: none;
}

@media screen and (max-width: 1200px) {
  .abrir-menu {
    display: flex;
    position: fixed;
    left: 0px;
    top: 50%;
    z-index: 100;
    cursor: pointer;
  }
}
